.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #EDA4BD;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #50333e;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  float: left;
  width: 50%;
}

.left-column {
  float: left;
  width: 50%;
  background-color: rgba(146, 100, 100, 0.336);
}

.song:hover {
 background-color: #EB7BC0;
 cursor: pointer;
}

.cover-art {
  height: 40vmin;
  background-color:rgba(146, 100, 100, 0.336);
  padding: 5px;
}

.cover-art:hover {
  cursor: pointer;
}

.result-item {
  cursor: pointer
}

.result-item:hover {
  background-color: #EB7BC0;
}

.title {
 border-width: 0px;
 text-align: center;
 font-size: 2em;
 background-color: rgba(0, 0, 0, 0);
 text-decoration: underline;
 color: #50333e;
}

.title:hover {
  cursor: pointer;
}

.title:focus {
  cursor:text
}

.description {
  border-width: 0px;
  font-size: .75em;
  text-align: center;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0);
  border-color:rgba(0, 0, 0, 0);
  color: #50333e;
  margin: 20px;
}

.description:hover {
  cursor: pointer;
}

.description:focus {
  cursor:text
}

.image-upload>input {
  display: none;
}

button:hover {
  cursor:pointer;
}

input[type=button]:hover {
  cursor: pointer;
}